.log-in {
  background: linear-gradient(
    180deg,
    rgba(120, 184, 94, 1) 0%,
    rgba(30, 123, 69, 1) 91%
  );
  min-height: 917px;
  min-width: 412px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.log-in .blobs {
  height: 1019px;
  left: -53px;
  position: absolute;
  top: -47px;
  width: 571px;
}

.log-in .ellipse {
  height: 183px;
  left: 53px;
  position: absolute;
  top: 781px;
  width: 172px;
}

.log-in .img {
  height: 118px;
  left: 376px;
  position: absolute;
  top: 160px;
  width: 89px;
}

.log-in .ellipse-2 {
  height: 126px;
  left: 53px;
  position: absolute;
  top: 293px;
  width: 81px;
}

.log-in .ellipse-3 {
  height: 221px;
  left: 350px;
  position: absolute;
  top: 433px;
  width: 115px;
}

.log-in .ellipse-4 {
  height: 133px;
  left: 77px;
  position: absolute;
  top: 47px;
  width: 166px;
}

.log-in .sign-in-here {
  align-items: center;
  color: #ffffffbf;
  display: flex;
  font-family: "Comfortaa-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  height: 18px;
  justify-content: center;
  left: 156px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 863px;
  white-space: nowrap;
}

.log-in .span {
  color: #ffffffbf;
  font-family: "Comfortaa-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
}

.log-in .text-wrapper-2 {
  text-decoration: underline;
}

.log-in .div {
  align-items: center;
  color: #ffffffbf;
  display: flex;
  font-family: "Comfortaa-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 16px;
  justify-content: center;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 840px;
  white-space: nowrap;
  width: 380px;
}

.log-in .text-wrapper-3 {
  align-items: center;
  color: #ffffff;
  display: flex;
  font-family: "Comfortaa-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
  height: 40px;
  justify-content: center;
  left: 153px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 400px;
  width: 105px;
}

.log-in .pfp-instance {
  background-image: url(./image.svg) !important;
  height: 176px !important;
  left: 115px !important;
  position: absolute !important;
  top: 184px !important;
  width: 182px !important;
}

.log-in .modal-instance {
  left: 16px !important;
  position: absolute !important;
  top: 456px !important;
}

.log-in .modal-2 {
  height: 90px !important;
}

.log-in .modal-3 {
  display: flex !important;
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
  width: 360px !important;
}

.log-in .modal-4 {
  display: flex !important;
  left: 0 !important;
  position: absolute !important;
  top: 50px !important;
  width: 360px !important;
}
