.sign-in {
  background: linear-gradient(
    180deg,
    rgba(120, 184, 94, 1) 0%,
    rgba(30, 123, 69, 1) 91%
  );
  min-height: 917px;
  min-width: 412px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.sign-in .blobs {
  height: 1029px;
  left: -106px;
  position: absolute;
  top: -43px;
  transform: rotate(180.00deg);
  width: 590px;
}

.sign-in .ellipse {
  height: 195px;
  left: 72px;
  position: absolute;
  top: 792px;
  transform: rotate(-180.00deg);
  width: 154px;
}

.sign-in .img {
  height: 118px;
  left: 386px;
  position: absolute;
  top: 228px;
  transform: rotate(-180.00deg);
  width: 97px;
}

.sign-in .ellipse-2 {
  height: 126px;
  left: 72px;
  position: absolute;
  top: 436px;
  transform: rotate(-180.00deg);
  width: 66px;
}

.sign-in .ellipse-3 {
  height: 221px;
  left: 369px;
  position: absolute;
  top: 549px;
  transform: rotate(-180.00deg);
  width: 115px;
}

.sign-in .ellipse-4 {
  height: 111px;
  left: 72px;
  position: absolute;
  top: 69px;
  transform: rotate(-180.00deg);
  width: 140px;
}

.sign-in .login-in-here {
  align-items: center;
  color: #ffffffbf;
  display: flex;
  font-family: "Comfortaa-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  height: 18px;
  justify-content: center;
  left: 151px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 863px;
  white-space: nowrap;
}

.sign-in .span {
  color: #ffffffbf;
  font-family: "Comfortaa-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
}

.sign-in .text-wrapper-2 {
  text-decoration: underline;
}

.sign-in .div {
  align-items: center;
  color: #ffffffbf;
  display: flex;
  font-family: "Comfortaa-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 16px;
  justify-content: center;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 840px;
  white-space: nowrap;
  width: 380px;
}

.sign-in .text-wrapper-3 {
  align-items: center;
  color: #ffffff;
  display: flex;
  font-family: "Comfortaa-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
  height: 40px;
  justify-content: center;
  left: 148px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 400px;
  width: 116px;
}

.sign-in .modal-instance {
  height: 272px !important;
  left: 16px !important;
  position: absolute !important;
  top: 456px !important;
}

.sign-in .modal-2 {
  margin-top: -1.50px !important;
}

.sign-in .modal-3 {
  align-self: stretch !important;
  left: unset !important;
  margin-bottom: -1.50px !important;
  top: unset !important;
  width: 100% !important;
}

.sign-in .profile-pic {
  background-image: url(./generic-avatar.svg);
  background-size: 100% 100%;
  display: flex;
  height: 182px;
  left: 115px;
  position: absolute;
  top: 184px;
  width: 182px;
}

.sign-in .edit-profile-picture {
  background-color: #d9d9d9;
  border-radius: 9999px;
  display: flex;
  height: 40.62px;
  margin-left: 141px;
  width: 40.62px;
}

.sign-in .pencil-svgrepo-com {
  height: 23.69px;
  margin-left: 8.5px;
  margin-top: 8.5px;
  width: 23.69px;
}

.sign-in .svgrepo-iconcarrier {
  background-image: url(./vector.svg);
  background-size: 100% 100%;
  height: 81.63%;
  left: 9.24%;
  position: relative;
  top: 9.19%;
  width: 81.55%;
}
